<tbody class="text-center">
        <% for(var i = 0 ; i < usr.length ; i++) { %>
        <tr>
            <td><%= usr[i].Us_ID %></td>
            <td><%= usr[i].Us_name %></td>
            <td><%= usr[i].Us_address %></td>
            <td><%= usr[i].Us_relationship %></td>
            <td>
                <a href="/edit_user/<%= usr[i].Us_ID %>"><i class = "fa fa-edit pr-3"></i></a>
                <a href="/erase_user/<%= usr[i].Us_ID %>"><i class = "fa fa-times-rectangle"></i></a>
            </td>
        </tr>
        <% } %>
    </tbody>